<div class="container">
  <h1>Todos</h1>
  <form class="form-inline">
    <%= form_tag(todos_path, method: :get) do %>
        <%= text_field_tag :term, params[:term], class: "form-control mb-2 mr-sm-2", placeholder: "Search" %>
        <%= submit_tag 'Search', name: nil, class: "btn btn-outline-primary btn-sm mb-2 mr-sm-2" %>
        <%= link_to 'Clear', todos_path, class: "btn btn-outline-secondary btn-sm mb-2 mr-sm-2" %>   
    <% end %>
  </form>

  <h2>Incomplete</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%"></th>
        <th style="width: 25%">Title</th>
        <th style="width: 35%">Description</th>
        <th style="width: 20%">Tags</th>
        <th style="width: 10%" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @todos.each do |todo| %>
        <% if !todo.completed %>
          <tr>
            <td><%= form_for todo do |f| %><%= f.hidden_field :completed, :value => true %><%= f.submit 'Complete', class: "btn btn-outline-success btn-sm" %><% end %></td>
            <td><strong><%= todo.title %></strong></td>
            <td><%= todo.description %></td>
            <td><%= todo.tags %></td>
            <td><%= link_to 'Show', todo, class: "btn btn-outline-info btn-sm" %></td>
            <td><%= link_to 'Edit', edit_todo_path(todo), class: "btn btn-outline-info btn-sm" %></td>
            <td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h2>Complete</h2>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 10%"></th>
        <th style="width: 25%">Title</th>
        <th style="width: 35%">Description</th>
        <th style="width: 20%">Tags</th>
        <th style="width: 10%" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @todos.each do |todo| %>
        <% if todo.completed %>
          <tr class="table-success">
            <td><%= form_for todo do |f| %><%= f.hidden_field :completed, :value => false %><%= f.submit 'Uncomplete', class: "btn btn-outline-danger btn-sm" %><% end %></</td>
            <td><strong><%= todo.title %></strong></td>
            <td><%= todo.description %></td>
            <td><%= todo.tags %></td>
            <td><%= link_to 'Show', todo, class: "btn btn-outline-info btn-sm" %></td>
            <td><%= link_to 'Edit', edit_todo_path(todo), class: "btn btn-outline-info btn-sm" %></td>
            <td><%= link_to 'Delete', todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Todo', new_todo_path, class: "btn btn-primary" %>
</div>